@attribute [StreamRendering]
@rendermode InteractiveServer
@inject IPlayerService playerService

@code {
    [Parameter]
    public RoomViewModel Room { get; set; } = default!;
    protected Player? player;

    protected override bool ShouldRender()
    {
        return player is not null;
    }

    protected override async Task OnInitializedAsync()
    {
        player = await playerService.GetPlayer();
    }
}

<fieldset>
    <legend>Players</legend>
    <ul>
        @if (Room.Player1 is not null)
        {
            <li>
                <small class="pill" style="color: @ColorHelper.GetHex(Room.Player1!.Color)">@string.Join("|", Room.Player1!.Tags)</small>
                @Room.Player1.Name
                @if (player?.Id == Room.Player1.Id)
                {
                    <small class="pill">YOU</small>
                }
            </li>
        }
        @if (Room.Player2 is not null)
        {
            <li>
                <small class="pill" style="color: @ColorHelper.GetHex(Room.Player2!.Color)">@string.Join("|", Room.Player2!.Tags)</small>
                @Room.Player2.Name
                @if (player?.Id == Room.Player2.Id)
                {
                    <small class="pill">YOU</small>
                }
            </li>
        }
    </ul>
</fieldset>